body {
  margin: auto 0;
  height: 60vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.flex {
  display: flex;
  flex-direction: column;
}

#logo {
  margin: auto 0;
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

#installed-missions {
  margin: auto;
  width: 50%;
  height: 100%;
  text-align: center;
  align-items: center;
}

select {
  text-align: center;
  width: 100%;
  height: 70%;
  outline: none;
}
option {
  padding: 4px;
}
option:checked {
  background-color: #ffeecc;
}

button {
  padding: 0.8rem;
  margin: 1px;
  border: 0;
}
button:hover {
  background-color: #ffeecc;
}
button::selection #logo {
  margin-right: 1rem;
}

#buttons {
  width: 100%;
}

.two-btns {
  display: flex;
  justify-content: space-between;
}

.btn-expand {
  width: 100%;
}

.btn-normal {
  width: 100%;
}

#btn-delete {
  display: block;
  margin-right: 0;
  margin-left: auto;
  background-color: #ff4444;
  color: white;
}
#btn-delete:hover {
  background-color: red;
}

footer {
  background: #7289da;
  position: absolute;
  width: 100%;
  height: 2.2rem;
  bottom: 0;
  text-align: center;
}
footer a {
  line-height: 2.2rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
}
footer i {
  margin-right: 5px;
}

#page {
  margin: 10px;
  height: 100%;
}

header {
  height: 1.5rem;
  line-height: 1.5rem;
  top: 0;
  text-align: center;
  color: white;
  font-weight: 600;
  background-color: #ff9922;
  user-select: none;
  -webkit-app-region: drag;
}
